label {
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: #DBA72E;
}
body{
  background-color:#D1CEC5;
}
form{
  background-color:#997C67;
  
  height: 80%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: #E3CCA1;
}
placeholder{
    text-align: center;
  }
h1{
  text-align: center;
  color: red;
  font-size:
}
#fontsize {
  font-size: 1.3em;
}
button{
  text-align: center;
  font-size: 1.2em;
}

@media screen and (min-width: 480px) {
  #form {
    text-align: center;
    margin: auto;

  }
  placeholder{
    text-align: center;
  }
  label {
    font-size: 1.2em;
  }
  
  input {
    width: 60%;
  }
  
  #button {
    width: 35%;
    display: block;
    margin: auto;
    font-size: 0.8em;
  }
}

@media screen and (min-width: 768px) {
  #form {
    width: 600px;
    text-align: center;
  }
  
  #button {
    width: 26%;
  }
}
